<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4">
        <img src="{{ horse.img }}" alt=" {{ horse.name }}" />
      </div>
      <div class="col-md-8 horse-details">
        <h2>{{ horse.name | uppercase}}</h2>
        <ul class="list">
          <li><span class="bold">Breed:</span> {{ horse.breed }}</li>
          <li><span class="bold">Weight:</span> {{ horse.height }}</li>
          <li><span class="bold">Color:</span> {{ horse.color }}</li>
          <li><span class="bold">Hay Needed:</span> {{ horse.hay }}</li>
          <li><span class="bold">Favorite Treat:</span> {{ horse.treat }}</li>
        </ul>
        <a [routerLink]="['/horse-edit', horse._id]" class="btn btn-success">EDIT</a>
        <a class="btn btn-danger" type="button" (click)="deleteHorse(horse._id)">DELETE</a>
      </div>
    </div>
  </div>
</div>