<div class="container">
  <h1>Add New horse</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="saveHorse()" #horseForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" [(ngModel)]="horse.name" name="name" required>
        </div>
        <div class="form-group">
          <label for="name">Breed</label>
          <input type="text" class="form-control" [(ngModel)]="horse.breed" name="breed" required>
        </div>
        <div class="form-group">
          <label for="name">Height</label>
          <input type="text" class="form-control" [(ngModel)]="horse.height" name="height" required>
        </div>
        <div class="form-group">
          <label for="name">Color</label>
          <input type="text" class="form-control" [(ngModel)]="horse.color" name="color" required>
        </div>
        <div class="form-group">
          <label for="name">Hay</label>
          <input type="text" class="form-control" [(ngModel)]="horse.hay" name="hay" required>
        </div>
        <div class="form-group">
          <label for="name">Treat</label>
          <input type="text" class="form-control" [(ngModel)]="horse.treat" name="treat" required>
        </div>
        <div class="form-group">
          <label for="name">Image</label>
          <input type="text" class="form-control" [(ngModel)]="horse.img" name="image" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!horseForm.form.valid">SAVE</button>
        </div>
      </form>
    </div>
  </div>
</div>